.vt323-regular {
  font-family: "VT323", monospace;
  font-weight: 200;
  font-style: normal;
}

body{
  background-color: #5C4033;
}

#header{
  color: Wheat;
  font-family: "VT323", monospace;
  font-size: 3em;
  font-weight: 100;

  text-shadow: 2px 2px;
  text-shadow: 2px 2px 2px black;
  text-decoration: none;
}

h1 {
  font-family: "VT323", "Courier New", monospace;
  text-align: center;
  padding-bottom: 10px;

}

h2 {
  font-family: "VT323","Courier New", monospace;
  font-size: 2.5em;
  text-align: center;
  font-weight: 100;
}

#intro{
  font-family: Courier New, monospace;
  font-size: 1.2em;
  text-align: center;
  text-indent: 0;
  margin-top: -1.5em;
  font-weight: bold;
}

p{
  font-family: "Courier New", monospace;
  font-size: 1.2em;
  text-indent: 2.5em;
  margin-bottom: 0.25em;
  margin-top: 0.25em;
  line-height: 1.5em;
  font-weight: normal;
}

ul{
  text-align: center;
}

li {
  display: inline-block;
  margin: 20px;
}

.subpagelink {
  background-color: grey;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: outset black;
  margin: auto;
  font-weight: bolder;
  font-family: "Courier New", monospace;
  font-size: 20px;
  color: black;
  text-decoration: none;

}
.subpagelink:hover {
  color: wheat;
  text-decoration: none;
  border: inset black;
}

#main{
  margin: auto;
  min-height: 800px;
  background: wheat;
  width: 65%;
  padding: 2px 0px 25px 0px;
  border-style: none;
  border-radius: 100px 100px 0 0;
}

.pagecontent {
  text-align: left;
  margin: auto;
  width: 70%;
}

h3{
  font-family: "VT323","Courier New", monospace;
  font-size: 2.5em;
  margin-bottom: 0.25em;
  margin-top: 0.5em;
  font-weight: 100;
  text-decoration: underline;
}

footer{
  color: wheat;
  text-align: center;
  margin-top: 25px;
  height: 50px;
}
