body{
  background-color: #5C4033;
}

#header{
  color: Wheat;
  font-family: "Courier New", monospace;
  font-size: 48px;

  text-shadow: 2px 2px;
  text-shadow: 1px 1px 2px black;
  text-decoration: none;
}

h1 {
  text-align: center;
  padding-bottom: 10px;

}

h2 {
  font-family: "Courier New", monospace;
  font-size: 32px;
  text-align: center;
}

#intro{
  font-family: Courier New, monospace;
  font-size: 1.2em;
  text-align: center;
  text-indent: 0;
  margin-top: -10px;
}

p{
  font-family: "Courier New", monospace;
  font-size: 1.2em;
  text-indent: 2em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

ul{
  text-align: center;
}

li {
  display: inline-block;
  margin: 20px;
}

.subpagelink {
  background-color: grey;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: outset black;
  margin: auto;

  font-family: Courier New, monospace;
  font-size: 20px;
  color: black;
  text-decoration: none;

}
.subpagelink:hover {
  color: wheat;
  text-decoration: none;
  border: inset black;
}

#main{
  margin: auto;
  min-height: 800px;
  background: wheat;
  width: 65%;
  margin-bottom: 50px;
  padding: 5px;
  border-style: none;
  border-radius: 100px 100px 0 0;
}

.pagecontent {
  text-align: justify;
  margin: auto;
  width: 70%;
}

h3{
  font-family: Courier New, monospace;
  font-size: 24px;
}

footer{
  color: wheat;
}
